body {
    background-image: url(../img/home.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

html {
    scroll-behavior: smooth
}

.afastar {
    padding-top: 40px
}

.fundo {
    background-image: url(minify/img/bg-catalogo.png);
    background-size: cover
}

.logo {
    width: 150px;
    position: relative;
    left: 20px
}

.sizecatalogo {
    font-size: 20px
}

a {
    color: grey
}

.redes {
    margin-right: 10px;
    padding-top: 20px
}

.buscaInput {
    width: 150px;
    text-transform: uppercase
}

.button-pesquisa {
    background-color: white;
    width: 55px;
}

.input {
    background-color: #fff
}

.form-control::placeholder {
    font-size: 20px;
    color: #88d70c;
    text-align: center;
    opacity: 1;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif
}

.junta-tamanho {
    width: 450px;
    height: 450px
}

.center-menu {
    text-align: center;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center
}

#layout {
    background-image: url(../img/bg-catalogo.webp)
}

.pesquisa-avancada {
    display: block
}

@media (min-width:768px) {
    .sidebar-button {
        position: absolute;
        float: right;
        display: none
    }
    .pesquisa-desktop {
        background-color: #88d70c;
        height: 100%;
        position: absolute;
        left: 20%;
        max-width: 500px
    }
}

@media (max-width:767px) {
    .pesquisa-mobile {
        background-color: #88d70c
    }
    .logo-mobile {
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px
    }
    .desktop {
        display: none
    }
    .input {
        background-color: #fff
    }
    .junta-tamanho {
        width: 340px;
        height: 340px
    }
    .pesquisa-avancada {
        display: none
    }
}

.btn-success {
    color: #fff;
    background-color: #8cba35;
    border-color: #8cba35
}

.btn-success:hover {
    color: #fff;
    background-color: grey;
    border-color: grey
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 .2rem rgba(71, 203, 103, .5)
}

.error-border {
    border: 2px solid rgba(253, 28, 28, .835)
}

.sucess-border {
    border: 2px solid #02ee22
}

.cormenuplaca {
    background-color: #88d70c;
    height: auto;
}

.fontplaca {
    font-size: 25px;
    color: white;
}

@media (max-width:800px) {
    .fontplaca {
        font-size: 16px;
    }
}
