body {
    background-image: url(../img/contato.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.afastar {
    padding-top: 10px
}

a {
    color: grey
}

h5 {
    line-height: 4px
}